= form_for @static_page do |f|
  - if @static_page.errors.any?
    #error_explanation
      %h2= "#{pluralize(@static_page.errors.count, "error")} prohibited this static_page from being saved:"
      %ul
        - @static_page.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :header
    = f.text_area :header
  .field
    = f.label :content
    = f.text_area :content
  .field
    = f.label :permalink
    = f.text_field :permalink
  .actions
    = f.submit 'Save'
