%p#notice= notice

%p
  %b Title:
  = @static_page.title
%p
  %b Header:
  = @static_page.header
%p
  %b Content:
  = @static_page.content
%p
  %b Permalink:
  = @static_page.permalink

= link_to 'Edit', edit_static_page_path(@static_page)
\|
= link_to 'Back', static_pages_path
