.container
  #login
    = form_for(resource, as: resource_name, :url => user_registration_path(resource), :html => {:class => "form-signin"}) do |f|
      = devise_error_messages!
      %fieldset
        %div
          = f.label :email, User.human_attribute_name("email")
          %br/
          = f.email_field :email, :autofocus => true, class: "form-control"
        %div
          = f.label :phone, User.human_attribute_name("phone")
          %br/
          = f.phone_field :phone, class: "form-control"
        %div
          = f.label :contact_person, User.human_attribute_name("contact_person")
          %br/
          = f.text_field :contact_person, class: "form-control"
        %div
          = f.label :car_wash_title, User.human_attribute_name("car_wash_title")
          %br/
          = f.text_field :car_wash_title, class: "form-control"
        %div
          = f.label :password, User.human_attribute_name("password")
          %br/
          = f.password_field :password, class: "form-control"
        %div
          = f.label :password_confirmation, User.human_attribute_name("password_confirmation")
          %br/
          = f.password_field :password_confirmation, class: "form-control"
        %div
          = f.label :normal
          %br/
        = hidden_field_tag 'user[normal]', false
        #agreement_text
          = render 'agreement'
        %div
          %label.checkbox
            = check_box_tag 'agreement', '', false
            Нажимая кнопку «Зарегистрироваться», я принимаю условия Пользовательского соглашения
        %div= f.submit t("devise.sign_up"), disabled: true, class: "btn btn-lg btn-primary btn-block"
        %br
        = render "devise/shared/links"
