#normal_user_messages
  %h1= "Сообщения от #{@car_wash.title}"
  - if@normal_user_messages.blank?
    %h4 Сообщений нет
  - else
    - @normal_user_messages.find_each do |m|
      #normal_user_message
      %h4= m.subject
      %h4= m.body
= subscribe_to "/normal_users_messages/#{@car_wash.id}/#{current_normal_user.id}"
=#subscribe_to "/public"

