#comments
  #comments_header
    %h3= t('car_washes.show.comments')
  #left_adv
    =#image_tag 'adv.png', class: 'adv'
    = image_tag  Banner.where(place: 'comments_fat_long').first.file.b_320_380.url, class: 'banner'
    = image_tag  Banner.where(place: 'comments_fat_short').first.file.b_320_320.url, class: 'banner'
  #comments_content
    #index
      - unless @comments.empty? 
        = render @comments
      - else
        = render inline: content_tag(:div, t('.empty_comments'), id: 'empty')


    = form_for [@car_wash, @new_comment], remote: true do |f|
      %h3= t('.add_comment')
      = f.text_field :name, placeholder: t('.input_name')
      = f.text_area :text, placeholder: t('.input_text')
      .actions#control_panel
        #save_button
          = f.submit t("save_button")


