.modal.fade{role: "dialog", id: "bannermodal_#{banner.id}"}
  .modal-dialog
    .modal-content
      .modal-header
        .button(type="button" class="close" data-dismiss="modal" aria-hidden="true") &times;
        .modal-title
          %h4
            = banner.text
      .modal-body
        =form_for [:admin, banner] do |f|
          #banner{data: {url: admin_banner_path(banner), token: form_authenticity_token }}
          %ul#image-container
            %li
              %h4 Старый
              = image_tag banner.file, size: '200x100'
            %hr
          #filelist
      .modal-footer
        %button(type="button" class="btn btn-default" data-dismiss="modal")= t('close')
        %button(type="button" class="btn btn-success" id="pickfiles")= t('.choose_file')
        %button(type="submit" class="btn btn-primary" id="uploadfiles")= t('.submit_update_image')
