#banners{data: {ids: @banners.ids}}
.row.bordered
  .col-md-8.col-md-offset-2#banner-top-text
    %h1.text-muted.text-center.bordered#test Бегущая строка
.row.bordered
  .col-md-4
    - banner = @banners.where(place: 'top_1').first
    = render 'banner', banner: banner, banner_url: banner.file.b_320_240.url, version: :b_335_205
  .col-md-4
    = image_tag 'video.png', size: "335x200"
  .col-md-4
    - banner = @banners.where(place: 'top_2').first
    = render 'banner', banner: banner, banner_url: banner.file.b_320_240.url, version: :b_335_205

.row.around_map
  .col-md-2
    .panel.panel-default
      %h1.text-fade.text-center Список автомоек
    -@banners_left.find_each do |banner|
      - if banner.left_thin_long?
        = render 'banner', banner: banner, banner_url: banner.file.b_160_190.url, version: :b_160_190
      - elsif banner.left_thin_short?
        = render 'banner', banner: banner, banner_url: banner.file.b_160_160.url, version: :b_160_160

  .col-md-10#fake_map
    .panel.panel-default
      .panel-body
        .row.bordered
          .col-md-6
            - banner = @banners.where(place: 'comments_fat_long').first
            %h4= banner.text
            = render 'banner', banner: banner, banner_url: banner.file.b_320_380.url, version: :b_320_380
          .col-md-6
            - banner = @banners.where(place: 'comments_fat_short').first
            %h4= banner.text
            = render 'banner', banner: banner, banner_url: banner.file.b_320_320.url, version: :b_320_320
        .row.bordered
          .col-md-6
            - banner = @banners.where(place: 'requests_fat_long').first
            %h4= banner.text
            = render 'banner', banner: banner, banner_url: banner.file.b_320_380.url, version: :b_320_380
          .col-md-6
            - banner = @banners.where(place: 'requests_fat_short').first
            %h4= banner.text
            = render 'banner', banner: banner, banner_url: banner.file.b_320_320.url, version: :b_320_320
.row.bordered
  .col-md-8.col-md-offset-2#banner-top-text
    %h1.text-muted.text-center.bordered Бегущая строка
.row.bordered
  .col-md-4
    - banner = @banners.where(place: 'bottom_1').first
    = render 'banner', banner: banner, banner_url: banner.file.b_320_240.url, version: :b_335_205
  .col-md-4
    = image_tag 'video.png', size: "335x200"
  .col-md-4
    - banner = @banners.where(place: 'bottom_2').first
    = render 'banner', banner: banner, banner_url: banner.file.b_320_240.url, version: :b_335_205

