.container
  #login
    = form_for(:invoice, url: car_wash_invoices_path(@car_wash, @invoice) , method: :post, :html => {:class => "form-signin"}) do |f|
      %fieldset
        %h4 Реквизиты Вашей компании
        %div
          = f.label :inn, "ИНН"
          %br/
          = f.text_field :inn, :autofocus => true, class: "form-control"
          %br/
        %div
          = f.label :title, "Наменование организации"
          %br/
          = f.text_field :title, class: "form-control"
          %br/
        %div
          = f.label :address, "Адрес"
          %br/
          = f.text_field :address, class: "form-control"
          %br/
        %div
          = f.label :phone, "Телефон"
          %br/
          = f.phone_field :phone, class: "form-control"
          %br/
        %div= f.submit t(".generate_pdf"), class: "btn btn-lg btn-primary btn-block"
