%h3= "Загружено: #{@car_washes.size} моек"
%h3 Список названий моек
- @car_washes.each do |cw|
  %h5= cw[:title]
  %ul
    %li= cw[:address]
    %li= cw[:contacts]
    %li= cw[:lat]
    %li= cw[:lon]
    %li= cw[:services]
  