.bip_input
  #main_action_label Ведите текст для бегущей строки
  #main_action_input
    = best_in_place @car_wash, :main_action_text, :path => car_washes_update_main_action_path,:type => :input, :nil => "...Бегущая строка пока не заполнена", :html_attrs => {:class=>"dummy"}, :activator => "#editme"
  #main_action_button
    %a(id="editme" href="#")= t('save_button')

.container
  = form_for @car_wash, role: "form", html: {class: "car_wash_edit"} do |f|
    - if @car_wash.errors.any?
      #error_explanation
        %h2= "#{pluralize(@car_wash.errors.count, "error")} prohibited this car_wash from being saved:"
        %ul
          - @car_wash.errors.full_messages.each do |msg|
            %li= msg

    #left_form
      %h3 Акция
      -ActionType.find_each do |type|
        - next if type.main?
        = text_field_tag "car_wash[actions][][text]", @actions.find_by(action_type_id: type.id).try(:text)
        = label_tag :action_type_text, ActionType.find_by(text: type.text).title
        = hidden_field_tag "car_wash[actions][][action_type_text]", ActionType.find_by(text: type.text).text
      %hr
      .actions#control_panel
        #save_button
          = f.submit t("save_button")
        #edit_button
          = link_to t("edit_button"), edit_car_wash_path(@car_wash)
    #center_form
      %h3 Свободно
      %p.text-center
        = link_to image_tag ('green.png'), id: 'green'
    #right_form
      %h3 Занято
      %p.text-center
        = link_to image_tag ('red.png'), id: 'red'
    = f.check_box :signal, class: "checkbox", id: 'car-wash-signal', type:'hidden'
    = link_to image_tag '', id: 'red-green'


