- unless @car_wash.activated?
  .container
    .columns-12#not-activated
      %h3.text-center Мойка не активирована.
      - time_to_activate = (Time.at(7*24*3600 - (Time.now.utc - @car_wash.updated_at)).utc - 1.day)
      %h3.text-center= "До окончания тестового периода осталось #{time_to_activate.strftime("%d")} дней #{time_to_activate.strftime("%H")} ч. #{time_to_activate.strftime("%M")} мин."
      %p.text-center
        = link_to "Оплатить", car_wash_payments_path(@car_wash), class: 'save_button'

.bip_input
  #main_action_label Ведите текст для бегущей строки
  = form_for @car_wash, remote: true,  role: "form", html: {class: "main_action_input"} do |f|
    - type = ActionType.main
    = hidden_field_tag "car_wash[actions][][action_type_text]", type.text
    = text_field_tag "car_wash[actions][][text]", @actions.find_by(action_type_id: type.id).try(:text), disabled: "disabled"

    = f.submit t("edit_button"), class: 'red-medium-button'

.container
  #left_form
    = form_for @car_wash, remote: true,  role: "form", html: {class: "car_wash_edit"} do |f|
      %h3 Акция
      - type = ActionType.left
      = label_tag :action_type_text, type.title
      = hidden_field_tag "car_wash[actions][][action_type_text]", type.text
      = text_area_tag "car_wash[actions][][text]", @actions.find_by(action_type_id: type.id).try(:text), disabled: "disabled"

      = f.submit t("edit_button"), class: 'red-medium-button'
  #center_form
    %h3 Свободно
    %p.text-center
      = link_to image_tag ('green.png'), id: 'green'
  #right_form
    %h3 Занято
    %p.text-center
      = link_to image_tag ('red.png'), id: 'red'
  #svetofor_container
    = image_tag '', id: 'red-green'
    %h5.text-center#notice=render partial: 'signal', locals: {car_wash: @car_wash}
  = form_for @car_wash, remote: true, role: "form", html: {class: "car_wash_signal_edit"} do |signal_form|
    = signal_form.check_box :signal, class: "checkbox", id: 'car-wash-signal', type:'hidden'
.container
  .left-container#requests{data: {url: car_wash_requests_path(@car_wash), oncpanel: "1", updated_at: @updated_at}}
    #requests_button
      = render "requests_button", count: @car_wash.unread_requests_count
  .center-container
    #full_form_button
      = link_to t("normal_user_message"), new_car_wash_normal_user_message_path(@car_wash), class: "grey-button"
  .right-container
    #full_form_button
      = link_to t("detailed_form_header"), edit_car_wash_path(@car_wash, full: '1'), class: "red-button"
.container
  .left-container#messages{data: {url: car_wash_messages_path(@car_wash), oncpanel: "1"}}
    #admin_messages_button
      = render "admin_messages_button", count: @car_wash.unread_messages_count
  .right-container
    #adv_manage
      = link_to t("adv_manage"), car_wash_banners_path(@car_wash), class: 'red-button'
