%h4.text-muted.text-center= "Личный кабинет #{CarWash.model_name.human} #{@car_wash.title}"

= render 'form'
%hr
.row
  .col-lg-8.col-lg-offset-4
    = link_to t('show_link'), @car_wash, class: 'btn btn-primary'
    =#link_to t('back_link'), car_washes_path
%br
