%h1 Listing car_washes

%table
  %tr
    %th Title
    %th Address
    %th Lat
    %th Lon
    %th Contacts
    %th Services
    %th Price
    %th Zones count
    %th Actions
    %th Video url1
    %th Video url2
    %th Signal
    %th
    %th
    %th

  - @car_washes.each do |car_wash|
    %tr
      %td= car_wash.title
      %td= car_wash.address
      %td= car_wash.lat
      %td= car_wash.lon
      %td= car_wash.contacts
      %td= car_wash.services
      %td= car_wash.price
      %td= car_wash.zones_count
      %td= car_wash.actions
      %td= car_wash.video_url1
      %td= car_wash.video_url2
      %td= car_wash.signal
      %td= link_to 'Show', car_wash
      %td= link_to 'Edit', edit_car_wash_path(car_wash)
      %td= link_to 'Destroy', car_wash, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Car wash', new_car_wash_path
