- content_for :adv1 do
  %marquee(behavior="alternate" direction="left")
    %h5.text-center= "#{@car_wash.main_action_text} #{t('adv1')}"
.no-edit#car_wash_menu
  #login_registration
    .menu
      .left
        = render 'devise/menu/login_items'
      .right
        = render 'devise/menu/registration_items'
    = render partial: "car_wash_info", locals: { car_wash: @car_wash, left_actions: @left_actions }
   
    #comments_button
      = link_to t('.comments'), car_wash_comments_path(@car_wash)
    #enroll_button
      = link_to t('.send_request'), new_car_wash_request_path(@car_wash)
    =#image_tag 'adv2.png', class: 'adv'
    #client_thin_bottom
      - banner = @banners.where(place: 'client_thin_bottom').first
      %h5.text-center.bordered= banner.text.blank? ? (raw '&nbsp;'):(banner.text)
      = render '/banners/banner', banner: banner, banner_url: banner.file.b_380_460.url, version: :b_380_460, car_wash: @car_wash
  #signal_video
    #free_close_signal
      %ul.menu
        - if @car_wash.signal
          %li 
            %h5 Свободно
        - else
          %li 
            %h5 Занято

      #signal_image
        - if @car_wash.signal
          =image_tag "green.png"
        - else
          =image_tag "red.png"
    .video#video1
      %ul.menu
        %li 
          %h5 Камера №1
      = render 'video'
    .video#video2
      %ul.menu
        %li 
          %h5 Камера №2
      = render 'video'
    #service
      #banner-1
        - banner = @banners.where(place: 'client_fat_top').first
        %h5.text-center.bordered= banner.text.blank? ? (raw '&nbsp;'):(banner.text)
        = render '/banners/banner', banner: banner, banner_url: banner.file.b_770_270.url, version: :b_770_270, car_wash: @car_wash
      #banner-2
        - banner = @banners.where(place: 'client_thin_top_1').first
        %h5.text-center.bordered= banner.text.blank? ? (raw '&nbsp;'):(banner.text)
        = render '/banners/banner', banner: banner, banner_url: banner.file.b_380_270.url, version: :b_380_270, car_wash: @car_wash

      #banner-3
        - banner = @banners.where(place: 'client_thin_top_2').first
        %h5.text-center.bordered= banner.text.blank? ? (raw '&nbsp;'):(banner.text)

        = render '/banners/banner', banner: banner, banner_url: banner.file.b_380_270.url, version: :b_380_270, car_wash: @car_wash

      =#image_tag 'service.png'
    #info
      #info_header
        %h3 Информация
      #info_content
        .bottom1_actions#left
          %h4 Акции
          %ul
            = actions(@bottom1_actions, 'li')
        .bottom2_actions#center
          %h4 Акции
          %ul
            = actions(@bottom2_actions, 'li')
        .vacancy_actions#right
          %h4 Вакансии
          %ul
            = actions(@vacancy_actions, 'li')
  =#render partial: 'car_wash_menu'
  %p#notice= notice


  =#link_to 'Редактировать', edit_car_wash_path(@car_wash), class: 'btn btn-primary'
  /\|
  =#link_to 'Назад', car_washes_path
