- content_for :adv1 do
  %marquee(behavior="alternate" direction="left")
    %h5.text-muted.text-center= "#{@car_wash.main_action_text} #{t('adv1')}"
#car_wash_menu
  #login_registration
    %ul.menu
      %li#login
        = render 'devise/menu/login_items'
      %li
        = render 'devise/menu/registration_items'
      %li
        = link_to current_user.email, "#" unless current_user.nil?
    %ul#car_wash_info
      %li
        %span Адрес:
        %span= @car_wash.address
      %li
        %p Координаты:
        %span Широта:
        %span= @car_wash.lat
        %br
        %span Долгота:
        %span= @car_wash.lon
      %li
        %span Контакты:
        %span= @car_wash.contacts
      %li
        %span Услуги:
        %span= @car_wash.services
      %li
        %span Цена:
        %span= @car_wash.price
      %li
        %span Кол-во моечных зон:
        %span= @car_wash.zones_count
      %li
        %span Акции:
        -unless @car_wash.actions.empty?
          - @car_wash.actions.each do |action|
            %p Тип
            %span= action.action_type.text
            %p Текст
            %span= action.action_text.text
    
    #response_button
      Оставить отзыв
    = image_tag 'adv2.png', class: 'adv'
  #signal_video
    #free_close_signal
      %ul.menu
        - if @car_wash.signal
          %li Свободно
        - else
          %li Занято

      #signal_image
        - if @car_wash.signal
          =image_tag "green.png"
        - else
          =image_tag "red.png"
    .video#video1
      %ul.menu
        %li Камера с поста №1
      = image_tag 'video.png' 
    .video#video2
      %ul.menu
        %li Камера с поста №2
      = image_tag 'video.png' 
    #service
      = image_tag 'service.png'
    #info
      #info_header 
        %h3 Информация
      #info_content
        #left
          %h4 Акции
          
        #center
          %h4 Акции
        #right
          %h4 Вакансии
  =#render partial: 'car_wash_menu'
  %p#notice= notice


  = link_to 'Редактировать', edit_car_wash_path(@car_wash), class: 'btn btn-primary'
  /\|
  =#link_to 'Назад', car_washes_path
