%p#notice= notice

.row
  .col-lg-12
    %h2.text-center
      = "Автомойка #{@car_wash.title}"

.row
  .col-lg-5
    %ul.list-group
      %li.list-group-item
        %span.text-muted Адрес:
        %span= @car_wash.address
      %li.list-group-item
        %button.btn.btn-primary.btn-lg.btn-block(type="button")
          Оставить отзыв
      %li.list-group-item
        %p.text-muted Координаты:
        %span.text-muted Широта:
        %span= @car_wash.lat
        %br
        %span.text-muted Долгота:
        %span= @car_wash.lon
      %li.list-group-item
        %span.text-muted Контакты:
        %span= @car_wash.contacts
      %li.list-group-item
        %span.text-muted Услуги:
        %span= @car_wash.services
      %li.list-group-item
        %span.text-muted Цена:
        %span= @car_wash.price
      %li.list-group-item
        %span.text-muted Кол-во моечных зон:
        %span= @car_wash.zones_count
      %li.list-group-item
        %span.text-muted Акции:
        %span= @car_wash.actions
  .col-lg-1
    - if @car_wash.signal
      %h5.text-muted Свободно
      =image_tag "banner_green.png"
    - else
      %h5.text-muted Занято
      =image_tag "banner_red.png"
    = image_tag 'video.png'

= link_to 'Редактировать', edit_car_wash_path(@car_wash), class: 'btn btn-primary'
%br
%br
/\|
=#link_to 'Назад', car_washes_path
