- content_for :adv1 do
  %marquee(behavior="scroll" direction="left")
    %h5.text-center= @car_wash.main_action_text
.no-edit#car_wash_menu
  #login_registration
    .menu
      #car_wash_name
        = link_to(content_tag(:h5, car_wash_title(@car_wash.title)), car_wash_path(@car_wash)) unless @car_wash.nil?
    = render partial: "car_wash_info", locals: { car_wash: @car_wash, left_actions: @left_actions }
   
    #comments_button
      = link_to t('.comments'), car_wash_comments_path(@car_wash)
    #enroll_button
      = link_to t('.send_request'), new_car_wash_request_path(@car_wash)
    =#image_tag 'adv2.png', class: 'adv'
  #signal_video
    #free_close_signal
      %ul.menu
        - if @car_wash.signal
          %li 
            %h5 Свободно
        - else
          %li 
            %h5 Занято

      #signal_image
        - if @car_wash.signal
          =image_tag "green.png"
        - else
          =image_tag "red.png"
    .video#video1
      %ul.menu
        %li 
          %h5 Камера №1
      = render 'video_320', src: @car_wash.video_url1
    .video#video2
      %ul.menu
        %li 
          %h5 Камера №2
      = render 'video_320', src: @car_wash.video_url2
    #service
      - banner = @banners.where(type: 'ClientVideoBanner').first
      - unless banner.nil? || banner.filename.blank?
        %h5.text-center= banner.text.blank? ? (raw '&nbsp;'):(banner.text)
        = render 'client_youtube', src: banner.filename
      - else
        - banner = @banners.where(place: 'client_fat_top').first
        %h5.text-center= banner.text.blank? ? (raw '&nbsp;'):(banner.text)
        = render '/banners/banner', banner: banner, banner_url: banner.file.b_770_270.url, version: :b_770_270, car_wash: @car_wash

  %p#notice= notice
.bottom-banners
  .left-container
    #banner-left-1
      - banner = @banners.where(place: 'client_thin_top_3').first
      %h5.text-center= banner.text.blank? ? (raw '&nbsp;'):(banner.text)
      = render '/banners/banner', banner: banner, banner_url: banner.file.b_380_270.url, version: :b_380_270, car_wash: @car_wash
    #banner-left-2
      - banner = @banners.where(place: 'client_thin_top_4').first
      %h5.text-center= banner.text.blank? ? (raw '&nbsp;'):(banner.text)
      = render '/banners/banner', banner: banner, banner_url: banner.file.b_380_270.url, version: :b_380_270, car_wash: @car_wash

  .right-container-8
    #banner-2
      - banner = @banners.where(place: 'client_thin_top_1').first
      %h5.text-center= banner.text.blank? ? (raw '&nbsp;'):(banner.text)
      = render '/banners/banner', banner: banner, banner_url: banner.file.b_380_270.url, version: :b_380_270, car_wash: @car_wash

    #banner-3
      - banner = @banners.where(place: 'client_thin_top_2').first
      %h5.text-center= banner.text.blank? ? (raw '&nbsp;'):(banner.text)

      = render '/banners/banner', banner: banner, banner_url: banner.file.b_380_270.url, version: :b_380_270, car_wash: @car_wash
    #info
      #info_header
        %h3 Информация
      #info_content
        .left-container
          %h4 Акции
          %ul
            = actions(@bottom1_actions, 'li')
        .center-container
          %h4 Акции
          %ul
            = actions(@bottom2_actions, 'li')
        .right-container
          %h4 Вакансии
          %ul
            = actions(@vacancy_actions, 'li')
