#banners{data: {ids: @banners.ids}}
#banner-top-text
  %h3.text-center.bordered Баннеры на Вашей странице:
.right-container-8
  - banner = @banners.where(place: 'client_fat_top').first
  %h5.text-center.bordered= banner.text.blank? ? (raw '&nbsp;'):(banner.text)
  = render 'banner', banner: banner, banner_url: banner.file.b_770_270.url, version: :b_770_270, car_wash: @car_wash
.left-container
  - banner = @banners.where(place: 'client_thin_bottom').first
  %h5.text-center.bordered= banner.text.blank? ? (raw '&nbsp;'):(banner.text)

  = render 'banner', banner: banner, banner_url: banner.file.b_380_540.url, version: :b_380_540, car_wash: @car_wash
.no-edit
  .center-container
    - banner = @banners.where(place: 'client_thin_top_1').first
    %h5.text-center.bordered= banner.text.blank? ? (raw '&nbsp;'):(banner.text)

    = render 'banner', banner: banner, banner_url: banner.file.b_380_270.url, version: :b_380_270, car_wash: @car_wash
  .right-container-4
    - banner = @banners.where(place: 'client_thin_top_2').first
    %h5.text-center.bordered= banner.text.blank? ? (raw '&nbsp;'):(banner.text)
    = render 'banner', banner: banner, banner_url: banner.file.b_380_270.url, version: :b_380_270, car_wash: @car_wash
