%p#notice= notice
#requests
  #requests_header
    %h3= "#{@car_wash.title}: #{t('.header')}"
  #left_adv
    = image_tag 'adv.png', class: 'adv'

  #requests_content

    %p
      %b=Request.human_attribute_name("name")
      = @request.name
    %p
      %b=Request.human_attribute_name("phone")
      = @request.phone
    %p
      %b=Request.human_attribute_name("email")
      = @request.email
    %p
      %b=Request.human_attribute_name("text")
      = @request.text

= link_to 'Edit', edit_car_wash_request_path(@car_wash,@request)
\|
= link_to 'Back', car_wash_requests_path
