%h1= t('.header')

%table.table
  %tr
    %th Заголовок в браузере
    %th Заголовок
    %th
    %th
    %th

  - @static_pages.each do |static_page|
    %tr
      %td= static_page.title
      %td= static_page.header
      %td= link_to t('show_link'), admin_static_page_path(static_page), class: 'btn btn-success'
      %td= link_to t('edit_button'), edit_admin_static_page_path(static_page), class: 'btn btn-danger'


