%p#notice= notice
%hr
%p
  %b Заголовок в браузере:
  = @static_page.title
%p
  %b Заголовок:
  = @static_page.header
%p
  %b Текст:
  = @static_page.content
%p
  %b Permalink:
  = @static_page.permalink
%hr

.row
  .col-lg-2.col-lg-offset-4.actions
    = link_to t('edit_button'), edit_admin_static_page_path(@static_page), class: 'btn btn-danger'
  .col-lg-2.actions
    = link_to 'Назад к списку страниц', admin_static_pages_path, class: 'btn btn-success'
