= form_for [:admin, @user] do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  %fieldset
    %legend= "Привязка мойки  к клиенту #{@user.email}"

    .field
      = f.label :car_wash, t('.car_wash')
      = f.select :car_wash_id, options_from_collection_for_select(CarWash.all, :id, :title)

  = f.submit t('link_to_save'), class: "btn btn-primary"
