.mobile_apps
  %p.text-center
    = image_tag "android_logo.png"
.mobile_apps
  %p.text-center
    = image_tag "apple_logo.png"
#other_footer_content
  %ul#bottom_menu
    %li
      = link_to "Главная", root_path
    %li
      = link_to "Реклама на сайте", static_page_path(StaticPage.where(permalink: 'adv').first.id)
    %li
      = link_to "О компании", static_page_path(StaticPage.where(permalink: 'about').first.id)

    %li
      = mail_to "info@moika77.ru"
    %li
      = link_to "Обратная связь", static_page_path(StaticPage.where(permalink: 'feedback').first.id)
    %li
      = render 'ya_counter'
  %ul#bottom_links
    =#render 'ya_counter_heroku'
    %li
      = link_to "Информация для владельцев автомоек", static_page_path(StaticPage.where(permalink: 'car_wash_owner_info').first.id)
    %li
      = link_to raw('&copy; 2013 ООО &quot;Прогресс Мск&quot;'), root_path
    %li
      = link_to "Разработка: Сергей Ватагин", "#"
    %li
      = link_to "Дизайн: Кирилл Прозоров", "#"


