.container
  .col-lg-4#logo_text
    = link_to root_path, class: "navbar-brand" do
      %h1= t("site_title")
      %p= t("logo_text")
      =#image_tag("logo2.jpg")
  .col-lg-8#logo
    %h1.text-muted.text-center= t("logo_mockup")
.container#header_nav
  .col-lg-4
    %ul.nav.navbar-nav#login
      = render 'devise/menu/login_items'
      = render 'devise/menu/registration_items'
      %li
        = link_to current_user.email, "#" unless current_user.nil?
  .col-lg-2
    %ul.nav.navbar-nav#feedback
      %li
        %a{:href => "#feedback"}= t("feedback")
  .col-lg-3
    %ul.nav.navbar-nav#social
      %li
        %a{:href => "#social"}= t("social")
  .col-lg-3.no-border
    %ul.nav.navbar-nav.navbar-right#time-weather
      %li
        %a.datetime

:javascript
  $(function() {
    var date_now = new Date();
    $(".datetime").append(date_now.toLocaleDateString() + ' ' + date_now.toLocaleTimeString());
  });