.container
  #logo_left
    = link_to root_path do
      = image_tag 'logo.png'
  #logo_right
    .r_logo_img
      = image_tag 'header_logo_1.png'
    .r_logo_img
      = image_tag 'header_logo_2.png'
    .r_logo_img
      = image_tag 'header_logo_3.png'
    .r_logo_img.omega
      = image_tag 'header_logo_4.png'
.container#header_nav_wrapper
  #header_nav
    #login
      = render 'devise/menu/login_items'
    #registration
      = render 'devise/menu/registration_items'
      = link_to current_user.email, "#" unless current_user.nil?
    #social
      = link_to content_tag(:div, "", id: "vk", class: "color_on_hover"), "#"
      = link_to content_tag(:div, "", id: "odn", class: "color_on_hover"), "#"
    #weather
      %a(href="http://rp5.ru/5483/ru")
        %img(border=0 width=88 height=31 src="http://rp5.ru/informer/88x31x2.php?f=26&id=5483&lang=ru&um=00000")
    #traffic
      %a(href="http://clck.yandex.ru/redir/dtype=stred/pid=30/cid=533/*http://maps.yandex.ru/moscow_traffic" style="background-image:url(http://clck.yandex.ru/click/dtype=stred/pid=30/cid=529/*http://ya.ru)")
        %img(src="http://info.maps.yandex.net/traffic/moscow/current_traffic_234.gif" alt="Пробки на Яндекс.Картах" border="0")
    #date_currency
      .datetime
        %span.date
        %span.time
      .currency 
        %span.name= "#{Currency.get_current_usd.name}"
        %span.value= "#{Currency.get_current_usd.value}"
        %span.name= "#{Currency.get_current_eur.name}"
        %span.value= "#{Currency.get_current_eur.value}"

