.container
  #logo_left
    = link_to root_path do
      = image_tag 'logo.png'
  #logo_right
    .r_logo_img
      = image_tag 'header_logo_1.png'
    .r_logo_img
      = image_tag 'header_logo_2.png'
    .r_logo_img
      = image_tag 'header_logo_3.png'
    .r_logo_img.omega
      = image_tag 'header_logo_4.png'
.container#header_nav_wrapper
  #header_nav
    #car_wash_name
      %h5= link_to(@car_wash.title, car_wash_path(@car_wash)) unless @car_wash.nil?
      = mail_to current_user.try(:email)
    #social
      = render 'social'
    #weather
      %a(href="http://rp5.ru/5483/ru")
        %img(border=0 width=88 height=31 src="http://rp5.ru/informer/88x31x2.php?f=26&id=5483&lang=ru&um=00000")
    #traffic
      %a(href="http://clck.yandex.ru/redir/dtype=stred/pid=30/cid=533/*http://maps.yandex.ru/moscow_traffic" style="background-image:url(http://clck.yandex.ru/click/dtype=stred/pid=30/cid=529/*http://ya.ru)")
        %img(src="http://info.maps.yandex.net/traffic/moscow/current_traffic_234.gif" alt="Пробки на Яндекс.Картах" border="0")
    #date_currency
      .datetime
        %span.date
        %span.time
      .currency 
        %span.name= "#{Currency.get_current_usd.name}"
        %span.value= "#{Currency.get_current_usd.value}"
        %span.name= "#{Currency.get_current_eur.name}"
        %span.value= "#{Currency.get_current_eur.value}"

