.container
  #logo_left
    = link_to root_path do
      = image_tag 'logo.png'
  #logo_right
    .r_logo_img
      = image_tag 'header_logo_1.png'
    .r_logo_img
      = image_tag 'header_logo_2.png'
    .r_logo_img
      = image_tag 'header_logo_3.png'
    .r_logo_img.omega
      = image_tag 'header_logo_4.png'
.container#header_nav_wrapper
  #header_nav
    #car_wash_name
      %h5= link_to(car_wash_title(@car_wash.title), car_wash_path(@car_wash)) unless @car_wash.nil?
      =#mail_to current_user.try(:email)
    #social
      = render 'social'
    #weather
      :javascript
        $.get(url, function(data) {
          console.log(data)
        })
    #traffic
      .svetofor.traffic_undefined
      %span#level_digit
      %span#level_text
      %p#level_desc
    #date_currency
      .datetime
        %span.date
        %span.time
      .currency 
        %span.name= "#{Currency.get_current_usd.name}"
        %span.value= "#{Currency.get_current_usd.value}"
        %span.name= "#{Currency.get_current_eur.name}"
        %span.value= "#{Currency.get_current_eur.value}"

