.navbar-wrapper
  .navbar.navbar-default.navbar-static-top
    .container
      .navbar-header
        %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand{:href => "#"}
          =# t("site_title")
          = image_tag("logo2.jpg")
      .navbar-collapse.collapse
        %ul.nav.navbar-nav
          %li
            %a{:href => "#about"}= t("about_us")
          %li
            %a{:href => "#contact"}= t("contacts")
        %ul.nav.navbar-nav.navbar-right
          %li
            %a{:href => "#login"}= t("login")
          %li
            %a{:href => "#sign_in"}= t("sign_in")
