%div.cycle-slideshow.vertical{'data' => { |
  'cycle-fx' => 'carousel', |
  'cycle-timeout' => 3000, |
  'cycle-carousel-fluid' => 'false', |
  'cycle-carousel-visible'  => 1, |
  'cycle-carousel-slide-dimension' => 220, |
  'cycle-carousel-vertical' =>  'true'}} |

  = image_tag "cleancity.jpg"
  = image_tag "forsage.jpg"
  = image_tag "f-1.jpg"
  = image_tag "forsage.jpg"
  = image_tag "greytek.jpg"
  = image_tag "megapolis.jpg"
