= link_to "", url_for('http://www.youtube.com/channel/UC6_OqGCG_UOP0493iCwtomg'), class: 'color_on_hover', id: 'youtube', target: '_blank'
= link_to "", url_for('http://vk.com/moika77'), class: 'color_on_hover', id: 'vk', target: '_blank'
= link_to "", url_for('http://www.odnoklassniki.ru/group/52917555626211'), class: 'color_on_hover', id: 'odn', target: '_blank'
= link_to "", url_for('http://my.mail.ru/mail/moika-77'), class: 'color_on_hover', id: 'mir', target: '_blank'
= link_to "", url_for('https://twitter.com/Moika_77'), class: 'color_on_hover', id: 'twitter', target: '_blank'
= link_to "", url_for('https://www.facebook.com/pages/Мойка-77/591788947524160#'), class: 'color_on_hover', id: 'facebook', target: '_blank'
