.no-edit#car_washes_left_list
  #list_header
    %p АВТОМОЙКИ
    = image_tag 'timer.png'
  %ul#car_wash_list
    -@car_washes.each do |cw|
      %li= link_to cw.title, car_wash_path(cw)
  #adv_left
    =#image_tag 'adv_left.png'
    =#image_tag 'adv_left.png'
    =#image_tag 'adv_left_small.png'
    =#image_tag  Banner.where(place: 'left_1').first.file.b_180_300.url, class: 'banner'
    = image_tag  Banner.where(place: 'left_2').first.file.b_190_160.url, class: 'banner'
    = image_tag  Banner.where(place: 'left_3').first.file.b_190_280.url, class: 'banner'
    = image_tag  Banner.where(place: 'left_4').first.file.b_190_160.url, class: 'banner'

#map_container
  %h3.text-center#map_header Карта автомоек Москвы
  #map_search
    = form_tag '/search', method: 'get' do
      .control-group
        = text_field_tag :address, nil, class: "search-query", placeholder: "Введите адрес...", "data-provide" => "typeahead"
        = submit_tag t("search_button"), class: 'submit'
        %span.help-inline.invisible
          #map{data:{url: update_map_car_washes_path, updated_at: @updated_at}}
