!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %title= t("site_title")
    = stylesheet_link_tag "admin", media: "all", "data-turbolinks-track" => false
    = csrf_meta_tags
  %body
    #wrap
      #header
        = render partial: 'layouts/admin/header'

      .container#main_content
        .row
          .col-lg-12
            = render partial: 'layouts/admin/vmenu'

          .col-lg-12
            = yield
    .row
      %hr
      = debug(params) if Rails.env.development?
    = javascript_include_tag "admin", "data-turbolinks-track" => false
