!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "width=device-width, initial-scale=1.0, user-scalable=no, target-densityDpi=device-dpi", :name => "viewport"}
    %title= t("site_title")
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => false
    = javascript_include_tag "application", "data-turbolinks-track" => false
    = csrf_meta_tags
  %body
    #root
      #header
        = render partial: 'header2'
      .container
        #adv1
          = yield :adv1
          =#render partial: 'adv1'
      .container#main_content
        - flash.each do |name, msg|
          = content_tag :div, msg, class: name
        = yield
        #map.hide
      #root_footer
    .container#footer
      = render partial: 'footer'
    = javascript_include_tag "http://api-maps.yandex.ru/2.0.31/?load=package.full&lang=ru-RU"
    =#javascript_include_tag "main_page"
