!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %title= t("site_title")
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => false
    = csrf_meta_tags
  %body
    #header
      = render partial: 'header2'
    .container
      #adv1
        = render partial: 'adv1'
    .container#main_content
      = yield
    .container#footer
      = render partial: 'footer'
    = javascript_include_tag "application", "data-turbolinks-track" => false
    = javascript_include_tag "main_page"
