!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %title= t("site_title")
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "http://api-maps.yandex.ru/2.0-stable/?load=package.full&lang=ru-RU"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #wrap
      #header
        = render partial: 'header'
      #marketing_top
        = render partial: 'marketing'
      #adv1
        = render partial: 'adv1'
      #main-content
        = yield
      #marketing_bottom
        = render partial: 'marketing'
    = render partial: 'footer'
