!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %meta{content: t('site_description'), name: "description"}
    %meta{content: t('site_keywords'), name: "keywords"}
    %title= t("site_title")
    = stylesheet_link_tag    "application", media: "all"
    = csrf_meta_tags
  %body
    #header
      = render partial: 'header'
    .container
      #adv1
        = render partial: 'adv1'
    .container#marketing_top
      = render partial: 'marketing'
    .container#main_content
      = yield
    .container#marketing_bottom
      = render partial: 'marketing_bottom'
    .container#footer
      = render partial: 'footer'
    = javascript_include_tag "http://api-maps.yandex.ru/2.0.31/?load=package.full&lang=ru-RU"
    = javascript_include_tag "main_page"
